<h1>showing article details </h1>
<p><strong>Title: </strong> <%= @article.title%></p>
<p><strong>Description: </strong><%= @article.description%> </p>
<%= link_to 'edit this article', edit_article_path%> <br>
<%= link_to 'destroy this article', article_path, 
	method: :delete, data: {confirm: "Are you sure?"} %> <br>
<%= link_to 'back to index', articles_path %>